<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Pixel Pile</title>
    <script src="https://kit.fontawesome.com/2a0a21cc45.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------------- IMAGE GALLERY ---------------------------->
    <section style="width: 85%; margin:50px auto; ">
        <h1 id="heading"></h1>
        <div class="gallery" id="gal"> </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </section>

    <!---------------------------- FOOTER ---------------------------->
    <footer>
        <div class="footer-content">
            <h3>Pixel Pile</h3>
            <p>Elevate your creative projects with stunning images that inspire and enhance your vision.</p>
            <ul class="socials">
                <li><a href="https://www.linkedin.com/in/prateek-arora-42b0541b9/"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://github.com/Prateek922"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:prateeka922@gmail.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Pixel Pile. designed by <span>Prateek Arora</span></p>
        </div>
    </footer>

    <script src="/js/category.js"></script>
</body>

</html>